.example-container {
  background-color: white;
  padding: 1rem;
  min-height: 100vh;
}

.component {
  display: flex;
  flex-direction: row;
  height: fit-content;
  border: 2px solid;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 0.5rem;
}

.parent {
  border-color: red;
}

.child {
  border-color: blue;
}

.grandchild {
  border-color: green;
}

.greatgrandchild {
  border-color: orange;
}

.info {
  margin: auto;
}

.state {
  border: 8px solid #282c34;
  background-color: #282c34;
  /* opacity: 90%; *CRA bundles to 1% */
  border-radius: 6px;
  color: #61dafb;
  display: flex;
  height: 150px;
  width: 230px;
  margin: 0.4rem;
  align-items: center;
  justify-content: center;
}

h5 {
  font-size: 2.5rem;
}
